@inject IHttpContextAccessor contxt;

@{
    ViewData["Title"] = "Home Page";
}

@{
    <div class="text-center">
        <h1 class="display-4">Xin chao</h1>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}